body {
	background: #f3f3f3;
}

#main-search-con {
	width: 100%;
	max-width: 500px;
	margin: 40px auto;
}


#main-search-input {
	height: 38px;
	width: 100%;
	border: none;
	border-radius: 0;
	background: white;
	font-size: 18px;
}
#main-search-input:hover {
	background: #f3f3f3;
}
#main-search-input:focus {
	outline: none;
	box-shadow: none;
}


#main-search-submit {
	height: 38px;
	width: 100%	;
	border-radius: 0;
	font-weight: bold;
	letter-spacing: 1px;
}
#main-search-submit:focus {
	outline: none;
	box-shadow: none;
}



#results-con {
	padding: 0;
}

#results {
	padding: 0;
	list-style-type: none;
}

#results a {
	text-decoration: none;
}

.result {
	padding: 30px;
	transition: all ease 0.4s;
}
.result:hover {
	background: #e3e3e3;
	transition: all ease 0s;
}

.result-title {
	color: #474747;
	margin: 0;
}

.result-subtitle {
	font-size: 14px;
	margin: 0;
}

.result-salary {
	font-size: 14px;
	color: #93d16c;
}
